{{#extends 'base'}}
{{#block 'content'}}
<h1 class='text'>Register</h1>
<p class='text'>Register for an account with us</p>
<form method="POST">
    <input type="hidden" name="_csrf" value="{{csrfToken}}" />
    {{{form}}}
    <input type="submit" value="Register" class="btn btn-primary"/>
    {{/block}}
</form>
{{/extends}}