{{#extends 'base'}}

{{#block 'content'}}
<h1 class='text'>New Products</h1>
<p class='text'>Add new arrivals and start selling!</p>
<form method="POST">
    <input type="hidden" name="_csrf" value="{{csrfToken}}" />
    {{{form}}}
    <div class='d-flex justify-content-between'>
        <input type="hidden" role="uploadcare-uploader" name="uploaded_image" id='uploaded_image' />
        <input type="submit" value="Add Product" class="btn goldBtn" id='add_product' />
    </div>
    {{/block}}
</form>

{{/extends}}

{{#block 'js'}}
<script>
    UPLOADCARE_PUBLIC_KEY = '1b13392e19004ca4680c';
    document.querySelector('#add_product').addEventListener('click', () => {
        document.querySelector('#id_image_url').value = document.querySelector('#uploaded_image').value
    })
</script>

<script src="https://ucarecdn.com/libs/widget/3.x/uploadcare.full.min.js" charset="utf-8"></script>
{{/block}}