{{#extends 'base'}}
{{#block 'content'}}
<form method="POST" action='/products/applyPromo'>
    <div>
        <input type="hidden" name="_csrf" value="{{csrfToken}}" />
        <label class='form-label'>Discount:</label>
        <input class='form-control' type='text' name='discount'/>
        <input type='submit' value='Apply' class='btn btn-success btn-sm m-1' />
        <a href='/products/endPromo' class='btn btn-primary btn-sm m-1'>End </a>
        <a href="/products/shop" class="btn btn-primary btn-sm m-1">Cancel</a>
    </div>
</form>
{{/block}}
{{/extends}}